body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: #dffae3;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input {
    width: 95%;
    padding: 8px;
    margin-top: 5px;
  }

textarea {
    width: 94%;
    padding: 15px;
    margin-top: 5px;
}
  
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #012e19;
    color: white;
  }
  
  .topnew {
    font-family: "poppins";
    text-decoration: underline;
    font-size: 2vmax;
    color: #012e19;
    font-weight: 900;
    margin-top: -2em;
    margin-left: 85px;
  }

  .botmar {
    padding-bottom: 1.5vw;
  }